@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
:root {
  --overlay-cloor1: #97e6f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active {
  right: 250px;
}
.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  text-transform: uppercase;
  cursor: pointer;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('./2x/outline_menu_white_24dp.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url('./2x/outline_close_white_24dp.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.change-theme {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mode {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('./2x/outline_toggle_off_white_24dp.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  transition: 0.4s;
}
.mode.active {
  background: url('./2x/outline_toggle_on_white_24dp.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.showcase video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  filter: grayscale(100%);
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--overlay-cloor1);
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}
.text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: white;
  padding: 10px 30px;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 2px;
}
.text a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(1.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(1.5) translateY(-5px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f4f4f4;
}
.menu ul {
  position: relative;
}
.menu ul li a {
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover {
  color: var(--overlay-cloor1);
}

@media (max-width: 791px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
